<div>
    <mat-card [formGroup]="credentialsForm" fxLayoutAlign="start center" fxLayout="column">
        <mat-card-content fxLayout="column" (keyup.enter)="onSubmit()">
            <div class="login-error-message" *ngIf="wrongCredentials">
                <p>
                    {{'page.login.wrongCredentials' | translate}} <br>
                    {{'action.tryAgain' | translate}}
                </p>
            </div>

            <mat-form-field>
                <input matInput formControlName="email" placeholder="{{'user.email' | translate}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="password" placeholder="{{'user.password' | translate}}"
                       [type]="hideUserPassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hideUserPassword = !hideUserPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideUserPassword">
                    <mat-icon>{{hideUserPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

                <mat-checkbox matInput formControlName="staySignedIn" color="primary" >{{'page.login.staySignedIn' | translate}}</mat-checkbox>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">{{'action.signIn' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>
