<form [formGroup]="createTournamentForm" novalidate class="registration-form">
    <mat-card fxLayoutAlign="start center" fxLayout="column" class="main-container">
        <mat-card-title>{{'tournament.create' | translate}}</mat-card-title>

        <mat-card-content fxLayout="column" class="form-container">
            <div class="error-message" *ngIf="errorLabelKey">
                <p>{{errorLabelKey | translate}}</p>
            </div>

            <mat-form-field>
                <input matInput formControlName="name" placeholder="{{'name' | translate}}">
            </mat-form-field>

<!--            <mat-form-field>  TODO: Issue #21 -->
<!--                <input matInput formControlName="url" placeholder="{{'page.tournament.create.url' | translate}}">-->
<!--            </mat-form-field>-->

            <div class="choose-visibility-option-container">
                <label>{{'tournament.visibility.chooseOptionName' | translate}}</label>
                <mat-radio-group fxLayout="column" formControlName="visibility">
                    <mat-radio-button *ngFor="let option of visibilityOptions" [value]="option.id"
                                      matTooltip="{{option.tooltipKey | translate}}">
                        {{option.labelKey | translate}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field>
                <mat-label>{{'tournament.type.name' | translate}}</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type.id" (click)="systems = type.systems">
                        {{type.labelKey | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{'tournament.system.name' | translate}}</mat-label>
                <mat-select formControlName="system">
                    <mat-option *ngFor="let system of systems" [value]="system.id" [matTooltip]="system.tooltipKey | translate">
                        {{system.labelKey | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="participants-container" fxLayout="column">
                <table mat-table [dataSource]="participants" class="tbl-participants">
                    <ng-container matColumnDef="root-header">
                        <th mat-header-cell *matHeaderCellDef [attr.colspan]="tblParticipantsColumns.length">
                            {{'tournament.participants.name' | translate}}
                        </th>
                    </ng-container>

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef style="width: 20px">No.</th>
                        <td mat-cell *matCellDef="let el; let idx = index"> {{idx + 1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="displayName">
                        <th mat-header-cell *matHeaderCellDef style="width: 160px">{{'displayName' | translate}}</th>
                        <td mat-cell *matCellDef="let participant">
                            <input matInput value="{{participant.displayName}}">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>{{'name' | translate}}</th>
                        <td mat-cell *matCellDef="let participant"> {{participant.firstName}} {{participant.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef style="width: 30px"></th>
                        <td mat-cell *matCellDef="let participant" class="remove-participant">
                            <button mat-icon-button (click)="removeParticipant(participant)"
                                    matTooltip="{{'tournament.participants.remove' | translate}}">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['root-header']"></tr>
                    <tr mat-header-row *matHeaderRowDef="tblParticipantsColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: tblParticipantsColumns;"></tr>
                </table>

                <div class="add-participant-row" fxLayout="row">
                    <mat-form-field fxFlex="50" fxLayoutAlign="start center">
                        <label>
                            <input #displayNameInput matInput [value]="newParticipant.displayName" type="text"
                                   (change)="newParticipant.displayName = displayNameInput.value"
                                   [matTooltip]="'page.tournament.create.mustBeUnique' | translate"
                                   placeholder="{{'displayName' | translate}}*">
                        </label>
                    </mat-form-field>

                    <div fxLayoutAlign="start center" fxFlex>
                        <div *ngIf="newParticipant.userId == null">
                            <button mat-flat-button (click)="openSelectUserDialog()">
                                {{'page.tournament.create.pickUpUser' | translate}}
                            </button>
                        </div>
                        <div *ngIf="newParticipant.userId != null">
                            <span>{{newParticipant.firstName}} {{newParticipant.lastName}}</span>
                        </div>
                    </div>

                    <div fxFlex="10" fxLayoutAlign="end center">
                        <button mat-icon-button color="primary" (click)="addParticipant()"
                                matTooltip="{{'tournament.participants.add' | translate}}">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="onSubmit()" [disabled]="createTournamentForm.invalid" color="primary">
                {{'action.create' | translate}}
            </button>
            <button mat-raised-button [routerLink]="['/']" routerLinkActive="active" color="accent">
                {{'action.cancel' | translate}}
            </button>
        </mat-card-actions>
    </mat-card>
</form>
