.main-container {
  width: 600px;
}

.form-container {
  width: 85%;
}

.choose-visibility-option-container, .participants-container {
  padding: 20px 0 10px 0;
}

.tbl-participants {
  border: rgba(0,0,0,.12) solid 1px;
}

.tbl-participants th, .tbl-participants td {
  padding: 5px 10px 0 10px;
}

.tbl-participants th {
  text-align: center;
}

.tbl-participants tr {
  height: 26px;
}

.remove-participant button {
  color: red;
}

.add-participant-row {
  margin-top: 10px;
}

.error-message {
  color: red;
  text-align: center;
}
