<app-navbar></app-navbar>

<mat-drawer-container class="root-container"> <!-- CHANGE TO PLAIN DIV -->
    <mat-drawer-content class="root-content-container" fxLayoutAlign="center start">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
