<mat-card fxLayoutAlign="start center" fxLayout="column">
    <mat-card-title>{{'page.users.list.cardTitle' | translate}}</mat-card-title>

    <mat-card-content fxLayout="row">
        <mat-form-field>
            <input matInput [formControl]="searchRequest.query"
                   (keyup.enter)="search()"
                   placeholder="{{'searchQuery' | translate}}">
        </mat-form-field>
        <button mat-button (click)="search()">{{'action.search' | translate}}</button>
    </mat-card-content>

    <mat-card-content fxLayout="column">
        <table mat-table [dataSource]="users" class="table-user">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let el; let idx = index"> {{idx + 1}} </td>
            </ng-container>

            <ng-container [matColumnDef]="column.name" *ngFor="let column of userDataDef">
                <th mat-header-cell *matHeaderCellDef>{{column.labelKey | translate}}</th>
                <td mat-cell *matCellDef="let user">
                    <span>{{getCellValue(user, column.name)}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>{{'action.edit' | translate}}</th>
                <td mat-cell *matCellDef="let user">
                    <a mat-icon-button matTooltip="{{'action.edit' | translate}}"
                       [routerLink]="['/users', user.id, 'edit']" routerLinkActive="active">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: usersColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
