<form [formGroup]="userForm" novalidate class="registration-form">
    <mat-card fxLayoutAlign="start center" fxLayout="column">
        <mat-card-title>{{'page.register.cardTitle' | translate}}</mat-card-title>

        <mat-card-content fxLayout="column">
            <div class="error-message" *ngIf="registrationErrorLabelKey">
                <p>
                    {{registrationErrorLabelKey | translate}}
                </p>
            </div>

            <mat-form-field>
                <input matInput formControlName="firstName" placeholder="{{'user.firstName' | translate}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="lastName" placeholder="{{'user.lastName' | translate}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="email" placeholder="{{'user.email' | translate}}*" title="{{'form.required' | translate}}">
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="password" placeholder="{{'user.password' | translate}}*"
                       [type]="hideUserPassword ? 'password' : 'text'" title="{{'form.required' | translate}}">
                <button mat-icon-button matSuffix (click)="hideUserPassword = !hideUserPassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideUserPassword">
                    <mat-icon>{{hideUserPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button [disabled]="userForm.invalid" (click)="onSubmit()"
                    color="primary" type="submit">{{'action.submit' | translate}}</button>
        </mat-card-actions>
    </mat-card>
</form>
