<div fxLayoutAlign="start center" fxLayout="column" class="select-user-dialog">
    <h1 mat-dialog-title>{{'page.users.select.selectUser' | translate}}</h1>

    <div mat-dialog-content>
        <mat-form-field>
            <label>
                <input matInput type="text" [formControl]="queryControl" (keyup.enter)="onEnterKeyUp()"
                       placeholder="{{'searchQuery' | translate}}">
            </label>
        </mat-form-field>
    </div>

    <div mat-dialog-content>
        <table mat-table [dataSource]="matchingUsers">
            <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let user" style="width: 200px">
                    {{user.firstName}} {{user.lastName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <td mat-cell *matCellDef="let user">
                    <button mat-raised-button [mat-dialog-close]="user" color="primary">
                        {{'action.select' | translate}}
                    </button>
                </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: ['name', 'action'];"></tr>
        </table>

        <div class="mat-cell table-footer">
            {{'page.users.select.totalMatches' | translate}} {{totalNumberOfMatchingUsers}}
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="" color="accent">{{'action.cancel' | translate}}</button>
    </div>
</div>
