.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  margin-left: 10px;
  margin-right: 5%;
}

.menu-item button {
  font-weight: 400;
}

.button-text-icon label {
  margin-right: 5px;
}

.lang-selector select {
  font-weight: 400;
  background-color: #3f51b5;
  color: #fff;
  border: 0;
  font-size: 14px;
}
