<mat-toolbar color="primary" class="main-navbar">
    <mat-toolbar-row fxLayout="row" >
        <div fxLayoutAlign="start center" fxFlex="40">
            <div class="logo">
                {{'home.title' | translate}}
            </div>
            <div class="menu-item">
                <button mat-button routerLinkActive="active" routerLink="/tournaments">{{'page.navbar.tournaments' | translate}}</button>
            </div>
        </div>

        <div fxFlex></div>

        <div fxFlex="40" fxLayoutAlign="end center">
            <div class="menu-item" *ngIf="principal.isAuthenticated()">
                <button mat-button [matMenuTriggerFor]="authenticatedSettingsMenu" class="button-text-icon">
                    <label>{{printUserName()}}</label>
                    <mat-icon>expand_more</mat-icon>
                </button>

                <mat-menu #authenticatedSettingsMenu="matMenu" xPosition="before">
                    <button mat-menu-item routerLink="/profile" routerLinkActive="active">{{'page.navbar.editProfile' | translate}}</button>
                    <button mat-menu-item *ngIf="principal.isAdmin()" routerLink="/users" routerLinkActive="active">{{'page.navbar.allUsers' | translate}}</button>
                    <button mat-menu-item (click)="logout()">{{'action.signOut' | translate}}</button>
                </mat-menu>
            </div>

            <div class="menu-item" *ngIf="!principal.isAuthenticated()">
                <button mat-button routerLink="/login" routerLinkActive="active" class="button-text-icon">
                    <label>{{'action.signIn' | translate}}</label>
                    <mat-icon>input</mat-icon>
                </button>
            </div>

            <div class="menu-item" *ngIf="!principal.isAuthenticated()">
                <button mat-button routerLink="/register" routerLinkActive="active">{{'page.navbar.register' | translate}}</button>
            </div>

            <div class="menu-item lang-selector" fxLayoutAlign="start center">
                <select #langSelect (change)="onLanguageChange(langSelect.value)">
                    <option *ngFor="let lang of availableLanguages" [value]="lang" [selected]="lang === selectedLang">{{ lang }}</option>
                </select>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
