<div>
    <mat-spinner style="position:fixed; top:48%; left:48%" *ngIf="!this.userForm"></mat-spinner>

    <form [formGroup]="userForm" novalidate *ngIf="this.userForm" class="user-form">
        <mat-card fxLayoutAlign="start center" fxLayout="column">
            <mat-card-title>{{'page.users.edit.cardTitle' | translate}}</mat-card-title>

            <mat-card-content fxLayout="column">
                <div class="login-error-message" *ngIf="errorLabelKey">
                    {{errorLabelKey | translate}}
                </div>

                <mat-form-field>
                    <input matInput readonly formControlName="email" placeholder="{{'user.email' | translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="firstName" autocomplete="off" placeholder="{{'user.firstName' | translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="lastName" autocomplete="off" placeholder="{{'user.lastName' | translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="defaultDisplayName" placeholder="{{'user.defaultDisplayName' | translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{'page.users.edit.changePassword' | translate}}"
                           [formControl]="passwordForm" autocomplete="new-password"
                           [type]="hideUserPassword ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideUserPassword = !hideUserPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideUserPassword">
                        <mat-icon>{{hideUserPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button [disabled]="userForm.invalid"
                        (click)="onSubmit()"
                        color="primary" type="submit">{{'action.save' | translate}}</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
