<div>
    <div *ngIf="principal.isAuthenticated()">
        <button mat-raised-button color="accent" routerLink="/tournaments/create" routerLinkActive="active">
            {{'tournament.create' | translate}}
        </button>
    </div>

    <table mat-table [dataSource]="tournaments" class="tbl-tournaments">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let el; let idx = index"> {{idx + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{'name' | translate}}</th>
            <td mat-cell *matCellDef="let tournament"> {{tournament.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let tournament">
                <a mat-button [routerLink]="['/tournaments', tournament.id]" routerLinkActive="active">
                    {{'action.showDetails' | translate}}
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tournamentsTblColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tournamentsTblColumns;"></tr>
    </table>
</div>
